// ! 18f Prototype
// Base styles
// Contains reset styles for base HTML elements

global-reset()

*
    box-sizing: border-box
    
html, body 
    font: $font-size $font-family
    line-height: 150%
    font-smoothing: antialiased

a 
    text-decoration: none
    color: inherit

h1, h2, h3
    margin: 0
    
h1 
    font: 700 1.75rem/1em $font-family

h2
    font: 700 1.25rem/1.4em $font-family 

h3, h4
    font: 700 1.15rem/1.2em $font-family



p 
    margin-top: 0
    margin-bottom: 1em
    font-size: 1.15rem

a 
    cursor: pointer

@import '_fonts' 
@import '_global'
