// ! 18f Prototype
// Base styles
// Contains reset styles for base HTML elements

global-reset()

*
    box-sizing border-box
    
html, body 
    font $font-size $font-family
    line-height 150%
    font-smoothing antialiased
    color #121212

a 
    text-decoration none
    color inherit

h1, h2, h3
    margin 0
    
h1 
    font 700 1.75rem/1em $font-family
    color #121212

h2
    font 700 1.25rem/1.4em $font-family     

h3, h4
    font 700 1.15rem/1.2em $font-family

h4
    color $blue-header

p 
    margin-top 0
    margin-bottom 1em
    font-size 1.15rem

a 
    cursor: pointer

.ui-btn
    padding 5px 10px
    border 1px solid transparent
    border-radius 5px
    transition all .25s

    &.blue
        color $blue
        border-color $grey

        &:hover
            color white
            border-color $blue
            background $blue

    &.orange
        color $orange
        border-color $orange

        &:hover
            color white
            background $orange

        &.lg
            background $orange
            color white
            padding 8px 30px

            &:hover
                background white
                color $orange


@import '_fonts' 
@import '_global'
