// ! 18f
// global.styl
// Global Classes 

.text-center 
    text-align: center
    
.text-right
    text-align: right

/* Columns */
.row
  display: table
  table-layout: fixed
  width: 100%

  .col
    display: table-cell
    vertical-align: top
    
    &.vertical-middle
        vertical-align: middle


    
/* Display classes */
.hidden 
    display: none
