// ! 18f
// global.styl
// Global Classes 

.text-center 
    text-align center
    
.text-right
    text-align right

.text-uppercase
  text-transform uppercase

.ui-grey-bg
  background $light-grey
  padding 40px 0

/* Columns */
.row
  display table
  table-layout fixed
  width 100%

  .col
    display table-cell
    vertical-align top
    
    &.vertical-middle
        vertical-align middle

/* Forms */
button
  background none
  border 1px solid gray
    
/* Display classes */
.hidden 
    display none
