/* _settings */

$font-family = 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif
$font-size = 18px

//colors
$orange = #F58D23
$blue = #4A90E2
$dark-blue = #1E4B89
$light-grey = #E8E7E6
$blue-header = #265f9b
$grey = #abaaab

/* Mixins */
inline-list()
    margin 0
    padding 0
    list-style-type none
    > li
        display inline