/* _settings */

$font-family = 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif
$font-size = 16px

//colors
$orange = #F58D23
$blue = #4A90E2
$dark-blue = #1E4B89
$light-grey = #E8E7E6
$grey = #555555
$blue-header = #265f9b
$grey = #abaaab

$chartColors = (rgb(165,0,38) rgb(215,48,39) rgb(244,109,67) rgb(253,174,97) rgb(254,224,144) rgb(224,243,248) rgb(171,217,233) rgb(116,173,209) rgb(69,117,180) rgb(49,54,149))

/* Mixins */
inline-list()
    margin 0
    padding 0
    list-style-type none
    > li
        display inline

transform-origin()
	-webkit-transform-origin arguments
	-moz-transform-origin arguments
	-ms-transform-origin arguments
	-o-transform-origin arguments
	transform-origin arguments
