.inner
	padding 10px
	max-width 1100px
	margin 0 auto
	clearfix()
	position relative

header
	clearfix()

.conditions
	padding 40px 0
	text-align center

.col2
	span(1/1, 0)

	@media screen and (min-width: 768px)
		span(1/2, 0)


		&.shift-right
			float right

		&.shift-left
			float left