.inner
	padding 10px
	max-width 1100px
	margin 0 auto
	clearfix()

header
	clearfix()

.col2
	span(1/1, 0)

	@media screen and (min-width: 768px)
		span(1/2, 0)


		&.shift-right
			float right

		&.shift-left
			float left