/* Chart.styl */

.line-chart 
    width: 100%
    height: 250px
    .line
        fill: none
        stroke: steelblue
        stroke-width: 2
    .data-point
        fill: steelblue
    .x-axis
        path
            stoke-width: 0
            fill: none
    text.nodata
        fill: grey