/* Chart.styl */

.line-chart 
    width: 100%
    height: 250px
    .line
        fill: none
        stroke: steelblue
        stroke-width: 2
    .data-point
        fill: steelblue
    .x-axis
        path
            stoke-width: 0
            fill: none
    text.nodata
        fill: grey
.donut-chart
    width: 100%
    height: 250px
    
.bar-chart
  position:relative
  .bar
    position:relative
    padding-right:10px
    .path
      position:absolute
      right:0
      height: 5px
      margin-top: 8px
  .bar-label
    padding-left:10px
    text-align:left
    
.c0
   fill: #8dc8d0
   background-color: #8dc8d0
.c1
   fill: #49b0e1
   background-color: #49b0e1
.c2
   fill: #194e8b
   background-color: #194e8b
.c3
   fill: #498fe1
   background-color: #498fe1
.c4
   fill: #d8d8d8
   background-color: #d8d8d8
    