.data-description
	padding 30px 0 0
	clearfix()

	h2
		margin-bottom 40px

	img
		width 100%
		max-width 100%

	p		
		margin-top 20px

	@media screen and (min-width: 768px)
		padding 30px 0

		p, h2, img
			padding 0 20px
