.drug-approvals
	overflow hidden
	padding 30px 0

	@media screen and (min-width: 768px)
		padding-bottom 50px


	.slick-dots li button:before
		font-size 2rem

	.slick-dots li
		margin 0

	h2
		margin-bottom 0

	.subtext
		margin-bottom 40px
		font-size 1.25em
		font-weight 100
		color $grey

	.drug-slider
		width 100%
		display block
		cursor ew-resize

		.card
			width 275px
			height 250px
			border-radius 10px
			position relative	
			margin 0 auto
			margin 0 10px		

			h6
				margin-bottom 10px			

			h5
				font-weight bold
				line-height 1.2rem
				font-size 1.05em
				color $blue
				margin-bottom 10px

			p
				line-height 1.25rem


			.front, .back
				position absolute
				top 0
				left 0
				width 100%
				height 100%

			.front, .back
				backface-visibility hidden
				transition transform 0.3s
				

			.front
				background $light-grey
				padding 30px 40px

				&:before
					content ''
					display block
					position absolute
					width 5px
					height 95px
					background $orange
					left 20px
					top 40px							

			.back
				background $blue
				padding 20px
				color white
				transform rotateY(-180deg)					
				
				h5
					color white

				a 
					transition color .25s

					&:hover
						color $blue-header

					span
						text-decoration underline
						font-weight bold


			&:hover
				.front
					transform rotateY(-180deg)	
				.back
					transform rotateY(0)