.drug-detail
	padding 10px 0
	text-align center

	h1
		text-align center
		line-height 43px

	a
		display inline-block
		margin-bottom 20px
		margin-top 10px

	@media screen and (min-width: 768px)
		text-align left

		h1
			text-align left
			float left

		a
			float right
			margin-bottom 0
			margin-top 0
