.errors
	text-align center
	padding 50px 0 0 0
	
	h1
		font normal 2.05rem/1em $font-family
		@media screen and (max-width: 768px)	
			font normal 1.75rem/1em $font-family
	
	h4
		display block
		position relative
		margin-bottom 25px
		font normal 1.35rem/1.5em $font-family
		
	.error-description
		font normal 405px/420px $font-family
		margin 10px
		color $light-grey 
			
		.accent
			background url('/img/error-image.png') center no-repeat
			min-width 181px
			min-height 293px
			vertical-align tex-top
			
			@media screen and (max-width: 768px)
				background url('/img/error-image-sm.png') center no-repeat
				min-width 79px
				min-height 124px
				vertical-align tex-top

		@media screen and (max-width: 768px)
			font normal 10.75rem/1em $font-family
				
	.disclaimer
		color $grey
		font-size 11px 
		display block
		margin 20px auto
			
	.503-error
	padding 50px 0px 0px 0px