.filter-menu
	header
		background #333

		ul
			text-align center

			li
				display inline-block
				padding 10px 5px
				width 50%

		button
			color white	
			width 95%		

	.filter-options
		display block
		padding 10px
		background #ddd

		h3
			margin-bottom 10px

		.inner
			border 1px solid #333
			padding 10px
			background white
			margin-bottom 10px

		.option
			position relative
			display block
			width 100%
			padding 2.5px

			&:hover, &:focus
				background #dedede

			label
				display block
				width 100%

			input
				position absolute
				right 0
				top 2.5px


