.reactions
    .donut-chart
        position: relative
    .slick-prev, .slick-next
        width: 29px
        height: 29px
    .slick-prev
        background: url('/img/left.png') no-repeat    
    .slick-next
        background: url('/img/right.png') no-repeat