.recalls
	padding 10px 0
	background $light-grey
	col(1/1, 0)
	margin-bottom 40px
	clearfix()

	p
		margin 0

	strong
		color red
		display inline-block
		margin-bottom 15px
		font-weight bold

	@media screen and (min-width: 768px)
		text-align center

		p
			width 50%
			margin 0 auto