.toolbar
	margin 10px 0
	overflow hidden

	li
		float left
		width 50%

		a
			display inline-block

		&.popular
			color $grey
			padding 5px 0

			em
				font-style italic

			i
				color $orange

		&:last-child
			text-align right