.topbar
	display block
	background $dark-blue
	color white
	clearfix()
	height 50px
	line-height 50px

	&.home
		text-align center
		height auto
		line-height auto
		padding 30px 0 10px

		.logo
			margin 0 auto
			
			img
				width 75%

	.inner
		padding 0 10px

	.logo
		float left

		img
			width 50%
			padding-top 10px

	.search
		float right

	ul
		a
			display block