.topbar
	display block
	background $dark-blue
	color white
	clearfix()
	height 50px
	line-height 50px

	.inner
		padding 0 10px

	.logo
		float left

		img
			width 50%
			padding-top 10px

	.search
		float right

	ul
		a
			display block