.total-reports
	background $light-grey
	padding 30px 10px 10px
	color $blue-header
	text-align center
	margin-top 30px

	strong, .drugEvent
		font-weight bold


	@media screen and (min-width: 768px)
		background none
		margin-top 0